h1{
    color:blue
}
*{
    border:solid
}
.Header{
    color:rgb(62, 214, 199);
    background-color:#00ffff;
    display:flex;
    justify-content:space-between; 
}
.item{
    color:blue;
    background-color:blueviolet;
    display:flex;
    justify-content:space-between;
}
.footer{
    color:teal;
    background-color:yellowgreen;
    display: flex;
    justify-content: flex-end;
}
